<div class="container">
    <h1>Portfolio</h1>
    <form (ngSubmit)="addTableData(contactForm)" #contactForm="ngForm">
        <label>Name</label>
        <input type="text" name="name" ngModel required/><br/>
        <label>Phone Number</label>
        <input type="text" name="phone" ngModel required/><br/>
        <input type="submit" value="submit"/>
        <input type="reset" value="reset"/>
    </form>
    <hr/>
    <table>
        <tr>
            <th>Name</th>
            <th>Contact Number</th>
        </tr>
        <tr id="row">
        </tr>
    </table>
</div>
